Package: com.patsluth.swiseestars
Name: I See Stars
Version: 1.0
Description: View music ratings in the playlist tables
Section: Tweaks
Depends: firmware (>= 7.1), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Pat Sluth
dev: Pat Sluth
Homepage: 
Depiction: 
Maintainer: pat.sluth@gmail.com
Icon:

