Package: com.patsluth.swiseestars
Name: I See Stars
Depends: firmware (>= 7.1), mobilesubstrate, jp.ashikase.libpackageinfo, com.patsluth.libsw
Architecture: iphoneos-arm
Description: View music ratings in the playlist tables
Maintainer: Pat Sluth
Author: Pat Sluth
Section: Tweaks
Version: 1.2-24
Installed-Size: 136
